<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="./">Thibault Morin</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="{{#isActive 'about'}}{{/isActive}}"><a href="about.html">About</a></li>
                <li class="dropdown">
                    <a href="documentation.html" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">Documentation <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="{{#isActive 'ceb'}}{{/isActive}}"><a href="ceb.html">ceb()</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="{{#isActive 'property'}}{{/isActive}}"><a href="property.html">property()</a></li>
                        <li class="{{#isActive 'attribute'}}{{/isActive}}"><a href="attribute.html">attribute()</a></li>
                        <li class="{{#isActive 'delegate'}}{{/isActive}}"><a href="delegate.html">delegate()</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="{{#isActive 'method'}}{{/isActive}}"><a href="method.html">method()</a></li>
                        <li class="{{#isActive 'on'}}{{/isActive}}"><a href="on.html">on()</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="{{#isActive 'template'}}{{/isActive}}"><a href="template.html">template()</a></li>
                    </ul>
                </li>
                <li><a href="api" target="_blank">API</a></li>
                <li><a href="https://github.com/tmorin/custom-elements-builder" target="_blank">Github</a></li>
            </ul>
        </div>
    </div>
</nav>
