@import "../../node_modules/bootstrap/less/bootstrap.less";
@font-size-base: 16px;
@import "../../node_modules/font-awesome/less/font-awesome.less";
@import (inline) "vendors/jquery.pagepiling.css";
.pp-tooltip {
    background-color: #000;
    top: -5px;
    color: #FFF;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

section {
    article {
        padding: 1rem;
        margin: 1rem;
        background-color: white;
        border-radius: 1rem;
    }

    .label {
        padding: 0.3rem 0.5rem;
    }

    aside {
        padding: 1rem;
        margin: 1rem;
        background-color: white;
        border-radius: 1rem;
        ul {
            margin: 0;
        }
    }
}

.section-bg(@name) {
    @media (min-width: @screen-sm-min) {
    }

    @media (min-width: @screen-md-min) {
    }

    @media (min-width: @screen-lg-min) {
    }
}

#home {
    background-color: lightgray;
    .section-bg('home');
}

#custom-element-builder {
    background-color: #ADD8E6;
    .section-bg('custom-element-builder');
}

#cqrsjs {
    background-color: #B2DFEE;
    .section-bg('cqrs');
}

#ffos-ownnews {
    background-color: #BFEFFF;
    .section-bg('ffos-ownnews');
}

#memos {
    background-color: #A4D3EE;
    .section-bg('memos');
}

#shopList {
    background-color: #F0F8FF;
    .section-bg('shopList');
}

#quanban {
    background-color: #C6E2FF;
    .section-bg('quanban');
}

#hoozbuzzing {
    background-color: #E6E8FA;
    .section-bg('hoozbuzzing');
}

#omvedahome {
    background-color: #F8F8FF;
    .section-bg('omvedahome');
}

