{% extends "base.html" %}

{% block hero %}
<div id="identity" class="d-flex vh-100 text-center text-bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <div class="row align-items-center justify-content-center mt-auto">
            <div class="col-sm-12 text-center col-md-6 text-md-end">
                <img class="d-inline d-sm-none img-fluid rounded-circle" width="200" alt="Thibault Morin"
                     src="{{get_url(path='thibault_morin.jpeg')}}">
                <img class="d-none d-sm-inline img-fluid rounded-circle" width="300" alt="Thibault Morin"
                     src="{{get_url(path='thibault_morin.jpeg')}}">
            </div>
            <div class="col-sm-12 text-center col-md-6 text-md-start">
                <h1 class="fw-bold">{{ section.title }}</h1>
                <p class="lead mb-4">{{ section.description }}</p>
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="{{ section.extra.links.linkedin }}" target="_blank"
                           class="btn btn-dark">
                            <i class="fa-fw fa-brands fa-linkedin fa-2x"></i><br>
                            linkedIn
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="{{ section.extra.links.github }}" target="_blank"
                           class="btn btn-dark">
                            <i class="fa-fw fa-brands fa-github fa-2x"></i><br>
                            <span>GitHub</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="mt-auto d-grid">
            <a class="btn btn-dark" role="button" href="#certifications">
                <i class="fa-solid fa-arrow-down fa-fade"></i>
            </a>
        </div>
    </div>
</div>
{% endblock hero %}

{% block content %}
<div id="certifications" class="d-flex vh-100 text-center text-bg-light">
    <div class="container text-center mt-auto mb-auto">
        <h2 class="fw-bold mb-5">Certifications</h2>
        <div class="row justify-content-center">
            <div class="col">
                <div data-iframe-width="150" data-iframe-height="270"
                     data-share-badge-id="78c60816-fa66-4949-b7fd-90c27d0d1638"
                     data-share-badge-host="https://www.credly.com"></div>
            </div>
            <div class="col">
                <div data-iframe-width="150" data-iframe-height="270"
                     data-share-badge-id="c6fbe702-bf9d-4a70-a50c-1d52b1e6c6a1"
                     data-share-badge-host="https://www.credly.com"></div>
            </div>
            <div class="col">
                <div data-iframe-width="150" data-iframe-height="270"
                     data-share-badge-id="fde46ce6-1af5-453e-8150-478362470ab3"
                     data-share-badge-host="https://www.credly.com"></div>
            </div>
            <div class="col">
                <div data-iframe-width="150" data-iframe-height="270"
                     data-share-badge-id="5bdad9b7-84bf-4eba-b173-65d34e52b24d"
                     data-share-badge-host="https://www.credly.com"></div>
            </div>
            <div class="col">
                <div data-iframe-width="150" data-iframe-height="270"
                     data-share-badge-id="16b079cb-6481-48c1-a925-0f89f4feb445"
                     data-share-badge-host="https://www.credly.com"></div>
            </div>
            <div class="col">
                <div data-iframe-width="150" data-iframe-height="270"
                     data-share-badge-id="a36b9c1b-696d-4031-8f34-425555f9aa19"
                     data-share-badge-host="https://www.credly.com"></div>
            </div>
            <div class="col">
                <div data-iframe-width="150" data-iframe-height="270"
                     data-share-badge-id="7ef29408-251e-4737-9d1b-dc3aaec814e4"
                     data-share-badge-host="https://www.credly.com"></div>
            </div>
        </div>


        <script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>

    </div>
</div>
{% endblock content %}
